<app-header titulo="Biografía"></app-header>

<ion-content>
      <ion-card>
        <img src="../assets/images/w3.jpg" />
        <ion-card-header>
          <ion-card-title>Información General</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
            Nació en Lima Perú en 1965, casado con María Cuya, está dedicado a tiempo completo a predicar la Palabra de Dios. Es miembro del Movimiento de la Renovación Carismática Católica del Perú desde 1982.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
        <ion-card-title>Experiencia Profesional</ion-card-title>
        </ion-card-header>
        <img src="../assets/images/w4.jpg" />
        <ion-card-content class="ion-text-justify">
            Se ha especializado en Pedagogía Religiosa y se ha dedicado durante 30 años como profesor de religión en colegios nacionales, parroquiales y particulares.
            Ha sido profesor de Escuela de Profesionalización para Profesores de Religión de la Arquidiócesis de Lima.
            Profesor en la Escuela de Verano para Catequistas de la Arquidiócesis de Lima. Se ha desempeñado como Profesor en las Escuelas de Servidores de la Renovación Carismática de la Diócesis del Callao y la Arquidiócesis de Lima.        
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-content class="ion-text-justify">
            Ha sido parte del Equipo Nacional Líderes de la Renovación Carismática Católica del Perú.
            Es fundador de grupos de Oración Carismáticos, y se ha desempeñado como Responsable de Grupo de Oración, Coordinador Zonal y Coordinador Diocesano de la RCC Lurín.
            Se ha dedicado a formar predicadores católicos mediante cursos impartidos en diversas diócesis del Perú. Así mismo a brindado de una serie de Cursos de Formación Espiritual y Bíblica, para músicos, matrimonios, jóvenes, líderes y agentes de pastoral en favor de la Iglesia Católica.
          </ion-card-content>
        <img src="../assets/images/w5.jpg" />
      </ion-card>
      <ion-card>
          <img src="../assets/images/w6.jpg" />
        <ion-card-content class="ion-text-justify">
        Colabora como profesor en el Seminario Mayor “San José” de la Diócesis de Lurín Lima Sur.
        Es autor de libros de reflexión y formación espiritual, gestor de cientos de Cds de predicas, y diversos Cursos de Formación impartidos en los últimos años. Su libro: “Aquel Burrito de Domingo de Ramos”, está en la segunda edición.
        Se desempeñó como Responsable Nacional del Ministerio de Formación de la Renovación Carismática Católica del Perú.
        Ha recibido formación específica en el 1° Retiro Internacional para Predicadores, realizado por el Minuto de Dios el 2014 en Cartagena Colombia.
        </ion-card-content>
      </ion-card>
      <ion-card>
          <img src="../assets/images/w7.jpg" />
        <ion-card-content class="ion-text-justify">
            En el 2014 recibió el Curso Internacional de Formación y Capacitación para Líderes ofrecido por ICCRS.
            En el 2015 recibió el Retiro Formación de Formadores, impartido por Jim Murphy, actual Presidente Mundial de ICCRS.
            En el 2016 fue enviado por su Obispo a la Corporación del Minuto de Dios, en Bogotá Colombia, para implementar un Proyecto de Formación para los Laicos en la Diócesis de Lurín - Lima Sur, el cual se hace realidad a partir de marzo del 2018.            
            En el 2017 recibió el Curso Virtual: “Bautismo en el Espíritu” dado por el CONCCLAT en convenio con IEAD RCCBRASIL.
            Ha participado en el Congreso Mundial realizado por el ICCRS en el Vaticano, Roma – Italia, con motivo del Jubileo de Oro de la Renovación Carismática Católica al cumplir 50 años en el mundo.            
            A partir del 2018 es profesor de la Escuela Diocesana de Formación y Espiritualidad (EDFE), de la Diócesis de Lurín, Lima Sur.
            Junto a su esposa ha recorrido diversas diócesis del Perú llevando la Palabra de Dios, compartiendo el ministerio de predicación que Dios le ha dado en favor de la Iglesia Católica.
        </ion-card-content>
      </ion-card>
    

</ion-content>
