<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" size="small"> <h1> Willy Martinez Sánchez</h1>  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item>
            <ion-avatar>
              <img src="../assets/images/w2.jpg" />
            </ion-avatar>
            <ion-title size="small"><h3>Siempres Firmes en la Fe</h3></ion-title>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let item of proximamente">
      <h1><img [src]="item.imagen" class="proximamente"></h1>
    </ion-slide>
  </ion-slides>
  <!-- Iconos -->
  <ion-grid class="ion-padding ion-text-center">
    <ion-row>
      <ion-col size="2">
        <ion-icon name="globe-outline" class="wm-icon" (click)="abrirRedSocial('w')"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="logo-youtube" class="wm-icon" (click)="abrirRedSocial('y')"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="logo-facebook" class="wm-icon" (click)="abrirRedSocial('f')"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="logo-twitter" class="wm-icon" (click)="abrirRedSocial('t')"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="logo-instagram" class="wm-icon" (click)="abrirRedSocial('i')"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid >
    <ion-row>
      <ion-col size="6" routerLink="/biografia">
        <ion-card class="ion-text-center " color="primary"> 
          <ion-card-header>
            <ion-icon name="accessibility" class="myicon-size"></ion-icon>
            <ion-card-subtitle size="small">Mi <br/>Biografía</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" routerLink="/promesas" >
        <ion-card class="ion-text-center" color="primary">
          <ion-card-header>
            <ion-icon name="heart-circle" class="myicon-size"></ion-icon>
            <ion-card-subtitle size="small">Promesas de <br/>Vida</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" routerLink="/rosario">
        <ion-card class="ion-text-center" color="primary">
          <ion-card-header>
            <ion-icon name="keypad" class="myicon-size"></ion-icon>
            <ion-card-subtitle >Rosario <br/>on line</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" routerLink="/cursos">
        <ion-card class="ion-text-center" color="primary">
          <ion-card-header>
            <ion-icon name="book" class="myicon-size"></ion-icon>
            <ion-card-subtitle >Curso <br/>Virtuales</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" routerLink="/libros">
        <ion-card class="ion-text-center" color="primary">
          <ion-card-header>
            <ion-icon name="bookmarks" class="myicon-size"></ion-icon>
            <ion-card-subtitle >Libros y Manuales</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" routerLink="/firmes">
        <ion-card class="ion-text-center" color="primary">
          <ion-card-header>
            <ion-icon name="pulse" class="myicon-size"></ion-icon>
            <ion-card-subtitle >Siempre firmes en la fe</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" routerLink="/asamblea">
        <ion-card class="ion-text-center" color="primary">
          <ion-card-header>
            <ion-icon name="people" class="myicon-size"></ion-icon>
            <ion-card-subtitle >Asamblea de oracion y alabanza</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" routerLink="/blog">
        <ion-card class="ion-text-center" color="primary">
          <ion-card-header>
            <ion-icon name="newspaper" class="myicon-size"></ion-icon>
            <ion-card-subtitle >Blog</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6" routerLink="/predicas">
        <ion-card class="ion-text-center" color="primary">
          <ion-card-header>
            <ion-icon name="radio" class="myicon-size"></ion-icon>
            <ion-card-subtitle >Predicas</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>      

</ion-content>
