<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> <h1> Willy Martinez Sánchez</h1>  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img src="../assets/images/w2.jpg" width="100%"  />
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- List of Text Items -->
  <ion-list>
    <ion-item routerLink="/biografia">
      <ion-label>Biografía</ion-label>
    </ion-item>
    <ion-item routerLink="/promesas">
      <ion-label>Promesas de vida</ion-label>
    </ion-item>

    <ion-item routerLink="/asambleas">
      <ion-label >Asamblea de alabanza y adoración</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Podcast</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Rosario En vivo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ahora comprendo la biblia</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
