<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Willy Martinez Sánchez </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- List of Text Items -->
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/demos/api/list/avatar-finn.png" />
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Podcast</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Promesas de vida</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Asamblea de alabanza y adoración</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Rosario En vivo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ahora comprendo la biblia</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
